# Local Creds - SWAP THESE WITH YOUR OWN VALUES - make sure to wrap values around ' '
LOCAL_SECRET_KEY=your_local_secret_key
LOCAL_ACCESS_KEY=your_local_access_key
LOCAL_ENDPOINT=your_local_endpoint
LOCAL_LLM_CHAT_ENGINE_ID=your_local_llm_chat_engine_id
LOCAL_LLM_EMBEDDING_ENGINE_ID=your_llm_embedding_engine_id
LOCAL_VECTOR_ENGINE_ID=your_local_vector_engine_id
LOCAL_DATABASE_ENGINE_ID=your_local_database_engine_id
LOCAL_STORAGE_ENGINE_ID=your_local_storage_engine_id

# Dev Creds - SWAP THESE WITH YOUR OWN VALUES - make sure to wrap values around ' '
DEV_SECRET_KEY=your_dev_secret_key
DEV_ACCESS_KEY=your_dev_access_key
DEV_ENDPOINT=your_dev_endpoint
DEV_LLM_CHAT_ENGINE_ID=you_dev_llm_chat_engine_id
DEV_LLM_EMBEDDING_ENGINE_ID=your_dev_llm_embedding_engine_id
DEV_VECTOR_ENGINE_ID=your_dev_vector_engine_id
DEV_STORAGE_ENGINE_ID=your_dev_storage_enging_id
DEV_FUNCTION_ENGINE_ID=your_dev_function_engine_id

# SWAP THIS VALUE TO CHANGE BETWEEN LOCAL AND DEV CREDENTIALS
# 'dev_creds' if testing DEV
# 'local_creds' if testing Local
ACTIVE_CREDS=test_local_or_dev_creds